<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Strange New Worlds</title>
  <!-- CSS -->
  <link rel="stylesheet" href={{ url_for('static', filename='css/materialize.min.css') }}>
  <link rel="stylesheet" href={{ url_for('static', filename='css/tachyons.min.css') }}>
  <link rel="stylesheet" href={{ url_for('static', filename='css/main.min.css') }}>
  <!-- Javascript -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src = {{ url_for('static', filename='js//materialize.min.js') }}></script>
  <script>
    function outputUpdate(val, id) {
      document.querySelector('#val_' + id).innerHTML = parseFloat(val).toFixed(2);
    }
  </script>
</head>

<body>
<div class = "container">


  <div class="flex flex-wrap justify-center mt4">
    <!-- Planet data -->
    <div class="w-100 w-25-ns ph1 pv2 mh4">
      <div class="br3 box bg-white pa3">
        <h4 class="dim center-align">Planet</h4>

        <div class="slidecontainer">
          <!-- Planet radius -->
          <p>
            <span class="f5">Planet radius</span><span class="f6 i mid-gray fr">(earth masses)</span>
          </p>
          <p>
            <span class="slider">{{ form.p_radius(min=0.1, max=40,
                          oninput="outputUpdate(p_radius.value, p_radius.name)") }}</span>
            <span id="val_p_radius" class="fr">{{ form.p_radius.default}}</span>
          </p>
          <!-- Planet mass -->
          <p>
            <span class="f5">Planet mass</span><span class="f6 i mid-gray fr">(earth radii)</span>
          </p>
          <p>
            <span class="slider">{{ form.p_mass(min=1, max=100,
                          oninput="outputUpdate(p_mass.value, p_mass.name)") }}</span>
            <span id="val_p_mass" class="fr">{{ form.p_mass.default}}</span>
          </p>

        </div>

      </div>
    </div>


    <!-- Star data  -->
    <div class="w-100 w-25-ns ph1 pv2  mh4">
      <div class="br3 box bg-white pa3">
        <h4 class="dim">Star</h4>

        <div class="slidecontainer">
          <!-- Star radius -->
          <p>
            <span class="f5">Star radius</span><span class="f6 i mid-gray fr">(earth masses)</span>
          </p>
          <!-- Star mass -->
          <p>
            <span class="f5">Star mass</span><span class="f6 i mid-gray fr">(earth radii)</span>
          </p>
          <!-- Star magnitude -->
          <p>
            <span class="f5">Star magnitude</span><span class="f6 i mid-gray fr">(a.u.)</span>
          </p>
        </div>
      </div>
    </div>


    <!-- Model result -->
    <div class="w-100 w-25-ns ph1 pv2  mh4">
      <div class="br3 box bg-white pa3">
        <h4>Habitability score</h4>
        <p class="ph2 tc">
          The habitability score for this planet is:
        </p>
      </div>
    </div>
  </div>
</div>
  <!-- Footer -->
  <!-- <footer class="tc mb2 mt5">
    <img class="center " src="https://forthebadge.com/images/badges/no-ragrets.svg">
  </footer> -->


</body>

</html>
